/*  your css code here. If applicable */
#yellow{
	background:yellow;
	border:1px  green;
	border-radius:1px;
/* 	border-width:1px ;
	border-color:green; */
}

#red{
	background:red;
	border:1px  black;
	border-radius:1px;
	
}

#green{
	background:green;
	border:1px  yellow;
	border-radius:1px;
}






